.TaskItem {
    font-family: sans-serif;
    margin: 0;
}

.listItem {
    padding: 10px;
    margin: 0;
}

.options {
  font-size: 75%;
}

.listItem.checked {
    background-color: #aaffaa;
  }
  
  .listItem.notChecked {
    background-color: #ffaaaa;
  }